:root {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --background:#f4f4f4;
    --text:#000;
    --hover:#383838;
    --footerborder:#ccc;
    --footertext:#888;
    --button: #303030;
}

.darkmode {
    --background: #1a1a1a;
    --text: #e8e8e8;
    --hover: #aaaaaa;
    --footerborder: #333;
    --footertext: #666;
}

#theme-switch {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#theme-icon {
    width: 24px;
    height: 24px;
}

/* header{
    border-bottom: 2px solid;
    border-radius: 2px;
    background-color: black;
   /* color: var(--text);
    position: sticky;
    top: 0;
} */
body {
    background-color: var(--background);
    /* color: #555; */
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text);
}

main {
    flex: 1;
}

.container{
    width: 80%;
    margin: auto;
    display: flow-root;
    padding: 0 16px; /*mobile spacing*/
    max-width: 900px;
}

#about-me img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto 16px auto;
}

#clock {
    margin-left: auto;
    display: none;
}

@media (min-width: 768px) {
    .container{
        padding: 0 32px; /*tablet spacing*/
    }
    #about-me img {
        max-width: 250px;
        float: left;
        margin-right: 16px;
        margin-bottom: 8px;
    }
    #clock {
        display: inline;
    }
}

@media (min-width: 1024px) {
    .container{
        padding: 0 48px; /*desktop spacing*/
    }
}

#main-header {
    padding: 0 32px;
    background-color: var(--background);
    margin-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid var(--text);
    margin-bottom: 16px;
}

#main-header h1 {
    margin: 0;
    padding: 8px 0;
}

#navbar {
    /* position: sticky;
    top: 0; */
    /* border-bottom: 2px solid black; */
    /* margin-bottom: 16px; */
    padding: 5px 5px 5px;
    background-color: var(--background);
    /* z-index: 100; */
    display: flex;
    align-items: center;
}

#navbar ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px 32px;
    color: var(--text);
    margin: 0;
}

#navbar a {
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
    transition: all 0.4s;
}

#navbar a:hover {
    color: var(--hover);
    font-weight: bold;
    letter-spacing: 1px;
}


#main-footer {
    border-top: 1px solid var(--footerborder);
    padding: 16px 0;
    text-align: center;
    font-size: 0.875rem;
    color: var(--footertext);
    margin-top: 32px;
    line-height: 1.2;
}

#main-footer p {
    margin: 0;
}